<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="device-width,initial-scale=1.0">
    <title>博客管理</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.2.4/semantic.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../static/css/me.css">
</head>

<body>


<!-- 导航 -->
<nav th:replace="admin/_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">管理后台</h2>
            <a href="#" class="active m-item item m-mobile-hide"><i class=" home icon"></i>博客</a>
            <a href="#" class=" m-item item m-mobile-hide"><i class=" idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class=" tags icon"></i>标签</a>

            <div class="right menu m-item item m-mobile-hide">
                <div class="ui dropdown item">
                    <div class="text">
                        <img class="ui avatar image" src="../../static/images/bg.jpg">
                        Yalexin
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui black icon button m-right-top m-mobile-show menu toggle">
        <i class="sidebar icon"></i>
    </a>
</nav>
<div class="ui attached teal pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/blogs/input}" class=" item">发布</a>
            <a href="#" th:href="@{/admin/blogs}" class="active item">列表</a>
        </div>
    </div>
</div>

<!-- 中间内容 -->
<div class="m-padded-tb-big m-container-small">
    <div class="ui container">

        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示：</div>
            <p th:text="${message}">恭喜，操作成功</p>
        </div>

        <div class="ui segment secondary form">
            <!--通过点击上一页和下一页将页码和筛选条件传递-->
            <input type="hidden" name="page">
            <div class="inline fields">
                <div class="field">
                    <input type="text" name="title" placeholder="文章标题">
                </div>
                <div class="field">
                    <div class="ui labeled action input">
                        <div class="ui type selection dropdown">
                            <input type="hidden" name="typeId">
                            <i class="dropdown icon"></i>
                            <div class="default text">分类</div>
                            <div class="menu">
                                <div class="item" th:each="type : ${types}" th:data-value="${type.id}"
                                     th:text="${type.name}" data-value="1">错误日志
                                </div>
                                <!--/*-->
                                <div class="item" data-value="2">开发者手册</div>
                                <!--*/-->
                            </div>
                        </div>
                        <button id="clear-btn" class="ui clear compact button">clear</button>
                    </div>

                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="recommend" name="recommend">
                        <label for="recommend">推荐</label>
                    </div>
                </div>
                <div class="field">
                    <button type="button" id="search-btn" class="ui mini teal basic button"><i class="search icon"></i>搜索
                    </button>
                </div>
            </div>
        </div>



        <div id="table-container">
            <table th:fragment="blogList" class="ui center unstackable aligned teal compact table">
                <thead>
                <tr>
                    <th></th>
                    <th>标题</th>
                    <th>类型</th>
                    <th>推荐</th>
                    <th>更新时间</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="blog,iterStat : ${page.content}">
                    <td th:text="${iterStat.count}">1</td>
                    <td th:text="${blog.title}">第一篇文章</td>
                    <td th:text="${blog.type.name}">杂项</td>
                    <td th:text="${blog.recommend} ? '是' : '否'">是</td>
                    <td th:text="${blog.updateTime}">2020-07-21 12:14</td>
                    <td th:text="${blog.published} ? '已发布' : '未发布'">是</td>
                    <td>
                        <a href="#" th:href="@{/admin/blogs/{id}/input(id=${blog.id})}"
                           class="ui mini teal basic button">编辑</a>
                        <a href="#" th:href="@{/admin/blogs/{id}/delete(id=${blog.id})}"
                           class="ui mini red basic button">删除</a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="7" class="left aligned">
                        <div class="ui mini pagination menu" th:if="${page.totalPages}>1">
                            <!-- th:unless="${page.first}" 除非是第一页，否则显示-->
                            <a onclick="page(this)" th:attr="data-page=${page.number} - 1" class="item"
                               th:unless="${page.first}">上一页</a>
                            <a onclick="page(this)" th:attr="data-page=${page.number} + 1" class="item"
                               th:unless="${page.last}">下一页</a>
                        </div>
                        <a href="" th:href="@{/admin/blogs/input}"
                           class="ui mini right floated teal basic button">新增</a>
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>

    </div>
</div>

<br>
<br>
<!-- 底部 -->
<footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui container center aligned ">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../../static/images/WeChat.jpg" class="ui rounded image" alt=""
                             style="width: 100px;">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                </div>

            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">请联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email:me@yalexin.top</a>
                    <a href="#" class="item">qq:495592364</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">介绍</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">这是SpringBoot + semantic-ui 开发的个人博客</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright©2020-2020 by Yalexin</p>
    </div>
</footer>


<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="../../static/js/myAnimation.js" th:src="@{/js/myAnimation.js}"></script>
<script>

		$('.ui.dropdown').dropdown({
			on: 'hover'
		});
		$('.ui.dropdown').dropdown();

	    function page(obj){
            $("[name='page']").val($(obj).data("page"));
            loaddata();
	    };

		$('.message .close')
		.on('click',function(){
			$(this)
			.closest('.message')
			.transition('fade');
		});

		$('#clear-btn').on('click', function() {
             $('.ui.type.dropdown').dropdown('clear');
        });

	    $('#search-btn').click(function(){
	        $("[name='page']").val(0);
	        loaddata();
	    });

	   function loaddata() {
            $("#table-container").load(/*[[@{/admin/blogs/search}]]*/"/admin/blogs/search",{
                title : $("[name='title']").val(),
                typeId : $("[name='typeId']").val(),
                recommend : $("[name='recommend']").prop('checked'),
                page : $("[name='page']").val()
            });
        }




</script>
</body>

</html>